body{
  margin: 0;
  padding: 0;
  text-align: center;
}
.upper-div{
  padding: 5.5% 0 3%;
  font-family: 'Koulen', cursive;
  font-size: 2rem;
}
h4{
  margin: 0;
  height: 20px;
  padding: 10px 0;
  font-size: 20px;
}
.textarea{
  background-color: #EFEAD8;
  display: inline-block;
  width: 140px;
  margin: 10px 5px;
}
.btn{
  display: inline-block;
  padding: 0;
  border: solid 1px;
  margin: 9px 4px;
  height: 40px;
  width: 40px;
}
.btn:hover{
  background-color: #15133C;
  color: white;
}
